body {
	background-color: black;
	color: white;
	font-size: 30px;
	font-family: 'Lato', sans-serif;
}
#container {
	width: 1000px;
	margin: 0 auto;
}
#player {
	width: 200px;
	margin: 0 auto;
	margin-top: 15px;
	text-align: center;
	padding: 10px;
	border: 1px solid white;
	border-radius: 10px;
}
#newGame {
	width: 200px;
	margin: 0 auto;
	margin-top: 15px;
	text-align: center;
	padding: 10px;
	border: 1px solid white;
	border-radius: 10px;
}
#gameContainer {
	width: 460px;
	height: 460px;
	margin: 0 auto;
	margin-top: 20px;
	background-color: rgb(10,10,10);
}
.square {
	width: 150px;
	height: 150px;
	float: left;
	border: 1px solid white;
}
.cross {
	width: 150px;
	height: 150px;
	float: left;
	border: 1px solid white;
	background: url(img.png) 0 0;
}
.circle {
	width: 150px;
	height: 150px;
	float: left;
	border: 1px solid white;
	background: url(img.png) 0 -150px;
}
.crossRed {
	width: 150px;
	height: 150px;
	float: left;
	border: 1px solid white;
	background: url(img.png) 150px 0px;
}
.circleRed {
	width: 150px;
	height: 150px;
	float: left;
	border: 1px solid white;
	background: url(img.png) 150px -150px;
}
#score {
	text-align: center;
}